<div class="container">
  <h2>Bank Account Registration</h2>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name" />
      <div
        class="error"
        *ngIf="
          registrationForm.get('name')?.touched &&
          registrationForm.get('name')?.hasError('required')
        "
      >
        Name is required.
      </div>
    </div>

    <!-- DOB -->
    <div>
      <label>Date of Birth:</label>
      <input type="date" formControlName="dob" />
      <div
        class="error"
        *ngIf="
          registrationForm.get('dob')?.touched &&
          registrationForm.get('dob')?.hasError('required')
        "
      >
        Date of Birth is required.
      </div>
    </div>
  </form>
</div>
